.logo{
	width: 100px;
}

body {
	margin:0;
}

header {
	background-image:url(https://cdn.cnn.com/cnnnext/dam/assets/180806084219-5-airbnb-great-wall-full-169.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100vh;
}
.rectangle{
	font-family: 'Patua One', cursive;
	background-color: white;
	border-radius: 1%;
	width: 400px;
	height: 500px;
	margin-top: 50px;
	margin-left: 250px;
	color: #3d3d29;
	text-align: center;

}

.topbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation a {
	margin: 0 10px;
}



header a {
	color: white;
	font-family: 'Merriweather Sans', sans-serif;
	text-decoration: none;
	
}

.mots2{
	font-family: 'Merriweather Sans', sans-serif;
	text-align: right;
	margin-right: 10px;
	
}
.mots3{
	font-family: 'Merriweather Sans', sans-serif;
	margin-left: 265px;
}


.Ou{
	width: 320px;
	height: 30px;
}
.Arrivee{
	width: 160px;
	height: 30px;
}
.Depart{
	width: 160px;
	height: 30px;
}
.Voyageurs{
	width: 320px;
	height: 30px;
}
.bouton{
	width: 150px;
	height: 50px;
	color: white;
	background-color: #FF0752;
	border-radius: 10px;
	position: relative;
	top: 50px;
	left: 100px;

}
.titre{
	text-align: left;
	margin: 30px;
	padding-top: 40px;

}
